$color-white: #fff;
$color-black: #000;
$color-grey-light: #a5abbd;
$color-grey-dark: #717788;

$color-navy: #003a70;
$color-red: #c8102e;
$color-rust: #862633;
// $color-black: #0b0c10;
// $color-grey-dark: #1f2833;
// $color-grey-light: #c5c6c7;
// $color-teal-bright: #66fcf1;
// $color-teal-dull: #45a29e;
