<footer class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="row justify-content-center">
        <a href="https://linkedin.com/in/amanda-cichosz-6261b678" target="_blank" class="pr-3">
          <i class="fab fa-linkedin fa-lg navy" aria-label="Amanda's Linkedin"></i>
        </a>
        <a href="https://github.com/acicho13" target="_blank" class="pr-3">
          <i class="fab fa-github-square fa-lg navy" aria-label="Amanda's Github"></i>
        </a>
        <a href="https://acicho13.github.io/" target="_blank">
          <i class="fab fas fa-running fa-lg navy" aria-label="Amanda's Portfolio"></i>
        </a>
      </div>
      <h3 class="mt-1 navy">&copy;2019 Amanda Cichosz</h3>
    </div>
  </div>
</footer>
